[client]
default-character-set=utf8mb4

#default-time-zone='Asia/Shanghai'
[mysqld]
skip-host-cache
skip-name-resolve
log-error=/var/log/mysql/error.log
datadir=/var/lib/mysql
log-bin=/var/lib/mysql/mysql-bin
symbolic-links=0
explicit_defaults_for_timestamp=true
character-set-server = utf8mb4
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
lower_case_table_names=1
server-id=123456




# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#character-set-client-handshake=FALSE
#character_set_server=utf8mb4
#collation_server=utf8mb4_unicode_ci

[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock


[mysql]
default-character-set=utf8mb4